* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.debug {
    border: 1px solid black;
}

.container{
    width: 70%;
    margin: auto;
}

section {
    height: 100vh; 
}

/* HEADER------------------------------------------ */
#header {
    height: 70px;
    background-color: #0084fd;
}

#nav-bar {
    height: 100%;
}

.nav-section {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > img {
    height: 40px;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-link > a {
    color: white;
    text-decoration: none;
}

.nav-link, .nav-btn {
    padding: 10px 20px;
}

.nav-btn {
    background-color: white;
    border-radius: 20px;
}

.nav-btn > a {
    color: black;
    text-decoration: none;
}

/* MAIN-------------------------------------------- */


/* First Section-------------------- */
#first-section {
    height: calc(100vh - 70px);
}

#demo-cards {
    height: calc(100vh - 70px);
    width: calc(70% + 20px);
    margin: auto;
}

/* ROW ----------------------*/
.demo-row{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

/* COL -----------------------*/
.demo-row :first-child {
    width: calc(100% / 3 * 2);
}

.demo-col {
    width: calc(100% / 3);
    padding: 10px;
}

/* CARDS */
.demo-card {
    height: 100%;
    min-width: 100%;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    background-color: #9ad4f2;
    color: #5a6e7f;
}

/* Card 2-3 */
#demo-card2-3 {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#demo-left, #demo-right {
    width: 50%;
}

/* left */
#demo-left{
    font-weight: bolder;
    line-height: 1.5rem;
    padding: 20px;
    text-align: left;
}

#demo-left > p {
    padding-bottom: 20px;
}

#demo-app-btn {
    display: inline-block;
    background-color: #0084fd;
    padding: 10px 40px;
    border-radius: 20px;
}

#demo-app-btn > a {
    text-decoration: none;
    color: white;
}

#demo-app-link > i {
    width: auto;
    padding-right: 10px;
}

/* right */
#demo-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.phone-logo {
    height: 80%;
}

/* Card Generics */
.demo-card > p {
    font-weight: bolder;
    line-height: 1.5rem;
    padding-bottom: 20px;
}

.demo-logo {
    font-size: 60px;
    min-width: 100%;
}

.demo-title {
    padding: 20px 0;
}

.demo-logo, .demo-title {
    color: #0084fd;
}

/* Second Section----------------------------- */
#second-section {
    background-color: #9593e6;
}

.planning-container {
    height: 100%;
    padding: 30px;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: flex-end;
}

/* Planning Cards */
.planning-card1, .planning-card2 {
    width: 50%;
    margin: 30px;
}

/* Card 1 */
.planning-card1 {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.planning-logo1 > img {
    width: 100%;
}

.planning1-text {
    color: white;
}

.planning1-text > h3 {
    padding-bottom: 30px;
    font-size: x-large;
}

.planning1-text > p {
    line-height: 1.5rem;
}

/* Card 2 */
.planning-card2 {
    height: 70%;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}

.planning-logo2 {
    height: 50%;
}

.planning-logo2 > img {
    max-height: 100%;
    max-width: 100%;
    padding-top: 20px;
}

.planning2-text {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    padding: 0 30px;
}

.planning2-text > h3 {
    padding: 20px;
}

.planning2-text > p {
    padding-bottom: 20px;
}

.circle-arrow {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    background-color: #9593e6;
}

/* Third Section------------------------------------------------------ */
.testimonials-top {
    height: 25%;
    text-align: center;
    line-height: 2rem;
}

/* testimonials cards------*/
.testimonials-bot {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.testimonial-card {
    background-color: green;
    height: calc(100% / 3 - 40px);
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.testimonial-pic {
    height: 70%;
}

.testimonial-pic > img {
    height: 100%;
}

/* Fourth Section -------------------------------------------------------- */
#fourth-section {
    background-color: #9593e6;
}

.benefit-container {
    height: 100%;
}

.benefit-title {
    height: 15%;
    text-align: center;
    padding: 40px 0;
}
/* Benefit Cards -----------------*/
.benefit-row {
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
}

.benefit-col {
    width: calc(100% / 3);
    padding: 10px;
}

.benefit-card {
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    
}

/* Fifth Section-------------------------------------------------------- */













